resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configurations:
- kustomizeconfig.yaml
images:
- name: controller
  newName: ghcr.io/rhadp/automotive-dev-operator
  newTag: latest
